<div class="mb-3">
  <label for="name" class="form-label">Full Name</label>
  <input type="text" id="name" class="form-control" value="{{this.name}}" name="name" placeholder="e.g. Jone Deo"
    required>
</div>
<div class="mb-3">
  <label for="email" class="form-label">Email</label>
  <input type="email" class="form-control" id="email" value="{{this.email}}" name="email" placeholder="jonedeo@me.com"
    required>
  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
</div>
<div class="mb-3">
  <label for="phone" class="form-label">Phone</label>
  <input type="text" class="form-control" id="phone" value="{{this.phone}}" name="phone" min="10" required>
</div>
<button type="submit" class="btn btn-primary">Submit</button>